.card1 img{
    width:200px;
    height:200px;
    display: block;
    padding-bottom: 10px;
}

.card1 a{
    margin-left:75px;
    padding-top: 20px;
    color: white;
    text-decoration: none;
}

.card1{
    margin-left:60px;
    margin-right:60px;
    display: inline-block;
    padding-bottom: 30px;;
}